  <% posts.each do |post| %>
    <div class="col-md-4">
      <div class="card-img-top shadow mt-3 mb-2 bg-light">
        
        <div class="form-inline w-75 mx-auto">
          <div class="mt-2">
            <%= link_to user_path(post.user_id) do %>
              <%= image_tag post.user.get_profile_image(60,60), class:"post-user-image" %>
            <% end %>
          </div>
          <div class="mt-2">
            <%= link_to user_path(post.user_id) do %>
              &emsp;<strong class="text-dark"><%= post.user.name %></strong>
            <% end %> 
          </div>
        </div>

        <div class="text-center p-2">
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.image, size: "180x190" %>
          <% end %>
        </div>
        <div class="form-inline w-75 mx-auto">
          <div class="likes_buttons_<%= post.id %>">
            <%= render 'public/likes/like', post: post %>
          </div>
          <div>
            &emsp;コメント数:<%= post.comments.count %>
          </div>
        </div>
        <div class="w-75 mx-auto">
          <%= link_to post_path(post.id) do %>
            <strong class="text-dark"><%= post.title.truncate(10) %></strong>
          <% end %>
        </div>
        <div class="w-75 mx-auto pb-2">
          <%= link_to post_path(post.id) do %>
            <strong class="text-dark"><%= post.body.truncate(10) %></strong>
          <% end %>
        </div>
      </div>
    </div>  
  <% end %>