<div class="container">
  <div class="row">
    <div class="col-4 mt-5 text-right">
      <%= image_tag @user.get_profile_image(200,200), class:"user-image" %>
      <div class="h3 font-weight-bold mt-3 mr-5">
        <%= @user.name %>
      </div>
    </div>
    <div class="col-8 text-center form-inline">
      <% if @user.name != "guestuser" %>
        <div class="mt-2 mr-1">
          <%= link_to "いいね一覧", likes_user_path(@user.id), class: "btn btn-outline-info" %>
        </div>
        <div class="mt-2 mr-1">
          <%= link_to "フォロー一覧", user_followings_path(@user.id), class: "btn btn-outline-info" %>
        </div>
        <div class="mt-2 mr-1">
          <%= link_to "フォローワー一覧", user_followers_path(@user.id), class: "btn btn-outline-info" %>
        </div>
        <div class="mt-2 mr-1">
          通知
        </div>
        <div class="mt-2 mr-1">
          <%= link_to "プロフィール編集", edit_user_path(@user.id), class: "btn btn-outline-info" %>
        </div>
        <div class="mt-2 mr-1">
          <%= link_to "新規投稿", new_post_path, class: "btn btn-outline-info" %>
        </div>
      <% end %>
    </div> 
  </div>

  <div class="row">
    <div class="col text-center h2 mt-5 border">
      <strong>投稿一覧</strong>
    </div>
  </div>

  <div class="row">
    <%= render "post_index", posts: @posts %>
  </div>
  
  <div class="row">
    <div class="col text-center mt-3 mb-3">
      <%= paginate @posts %>
    </div>
  </div>
</div>
