<h1>Public::Posts#index</h1>
<div class="container">
  <div class="row">
    <div class="col-4">
      <table>
        <tbody>
          <tr>
            <td>
              <%= image_tag @user.get_profile_image(300,300), class:"mt-3 rounded-circle"; %>
            </td>
          </tr>
          <tr>
            <td>
              <%= @user.name %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-8">
      <% @post.each do |post| %>
        <%= image_tag post.image, size: "450x350" %>
        <p>タイトル：<%= post.title %></p>
        <p>内容：<%= post.body %></p>
      <% end %>  
    </div>
  </div>
</div>
