<div class="container">
  <div class="row">
    <div class="col-4 mt-5 text-right">
      <%= image_tag @user.get_profile_image(200,200), class:"user-image" %>
      <div class="h3 font-weight-bold mt-3 mr-5">
        <%= @user.name %>
      </div>
    </div>
    <div class="col-8 text-center form-inline">
      <% if @user.name != "guestuser" %>
        <div class="mt-2 mr-1">
          <%= link_to "いいね一覧", likes_user_path(@user.id), class: "btn btn-outline-info" %>
        </div>
        <div class="mt-2 mr-1">
          <%= link_to "フォロー一覧", user_followings_path(@user.id), class: "btn btn-outline-info" %>
        </div>
        <div class="mt-2 mr-1">
          <%= link_to "フォローワー一覧", user_followers_path(@user.id), class: "btn btn-outline-info" %>
        </div>
        <div class="mt-2 mr-1">
          通知
        </div>
        <div class="mt-2 mr-1">
          <%= link_to "プロフィール編集", edit_user_path(@user.id), class: "btn btn-outline-info" %>
        </div>
        <div class="mt-2 mr-1">
          <%= link_to "新規投稿", new_post_path, class: "btn btn-outline-info" %>
        </div>
      <% end %>
    </div> 
  </div>
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-md-4">
      <div class="card-img-top shadow mt-5">
        
        <div class="form-inline">
          <div class="ml-5 mt-1">
            <%= link_to user_path(post.user_id) do %>
              <%= image_tag post.user.get_profile_image(60,60), class:"post-user-image" %>
            <% end %>
          </div>
          <div class="ml-3">
            <%= link_to user_path(post.user_id) do %>
              <strong class="text-dark"><%= post.user.name %></strong>
            <% end %> 
          </div>
        </div>

        <div class="card-body img-light text-center">
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.image, size: "180x190" %>
          <% end %>
        </div>
          <div class="form-inline">
            <!--いいね機能で部分的に更新したい場所-->
            <div class="likes_buttons_<%= post.id %> ml-5">
              <%= render 'public/likes/like', post: post %>
            </div>
            <div class="ml-4">
              コメント数:<%= post.comments.count %>
            </div>
          </div>
          <div class=" ml-5">
            <%= link_to post_path(post.id) do %>
              <strong class="text-dark"><%= post.title %></strong>
            <% end %>
          </div>
          <div class="ml-5">
            <%= link_to post_path(post.id) do %>
              <strong class="text-dark"><%= post.body.truncate(10) %></strong>
            <% end %>
          </div>
        </div>
      </div>  
      <% end %>
    </div>
    </div>
  </div>
</div>
