<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag @post.image, size: "500x400" %>
    </div>
  </div>
  <div class="row">
    <table>
      <tbody>
        <tr>
          <th>タイトル：</th>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <th>内容</th>
          <td><%= @post.body %></td>
        </tr>
        <tr>
          <th>投稿日:</th>
          <td><%= @post.created_at.strftime('%Y/%m/%d') %></td>
          <th></th>
          <td class="btn-right">
            <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-success" %> |
            <%= link_to "削除する", post_path(@post.id), method: :delete, class: "btn btn-primary", "data-confirm" => "本当に削除しますか？" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

