<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag @post.image, size: "500x400" %>
    </div>
  </div>
  <div class="row">
    <table>
      <tbody>
        <tr>
          <th>タイトル：</th>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <div class="likes_buttons_<%= @post.id %>">
            <%= render 'public/likes/like', post: @post %>
          </div>
        </tr>
        <tr>
          <th>内容</th>
          <td><%= @post.body %></td>
        </tr>
        <tr>
          <th>投稿日:</th>
          <td><%= @post.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th></th>
          <td>
            <% if @post.user == current_user %>
              <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-success" %> |
              <%= link_to "削除する", post_path(@post.id), method: :delete, class: "btn btn-primary", "data-confirm" => "本当に削除しますか？" %>
            <% end %>  
          </td>
        </tr>
        <tr class="coment_count">
          <%= render "public/comments/comment_count", post: @post %>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <table class="comments-area col-10">
        <%= render "public/comments/comment",post: @post %>
    </table>
  </div>
  <div class="row">
    <table>
      <% if current_user.name != "guestuser" %>
      <tr>
        <th></th>
        <td>
          <%= form_with(model: [@post, @comment], local: false) do |f| %>
            <%= f.text_area :comment, size: "50x5", placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

