<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mt-5 w-75 mx-auto">
          
        <div class="mt-5 text-center">
          <%= image_tag @post.image, style: "max-width: 450px; width: 100%;" %>
        </div>
        
        <div class="m-2 form-inline mx-auto">
          タグ:
          <% @post.tags.each do |tag| %>&emsp;
            <div class="bg-info text-white p-2">
              <%= tag.name %>
            </div>
          <% end %>
        </div>
          
        <div class="form-inline w-50 mx-auto mt-2">
          <div class="ml-5">
            <%= link_to user_path(@post.user_id) do %>
              <%= image_tag @post.user.get_profile_image(70,70), class:"rounded-circle1" %>
            <% end %>
          </div>
          <div class="ml-5">
            <%= link_to user_path(@post.user_id) do %>
              <strong class="text-dark"><%= @post.user.name %></strong>
            <% end %> 
          </div>
          <div class="ml-5 likes_buttons_<%= @post.id %>">
            <%= render 'public/likes/like', post: @post %>
          </div>
        </div> 
        
        <div class="mt-4 w-75 mx-auto">
          <strong>タイトル:</strong><%= @post.title %>
        </div>
        <div class="w-75 mx-auto m-2">
          <%= @post.body %>
        </div>
        <div class="text-right mr-5 w-75 mx-auto">
          投稿日:<%= @post.created_at.strftime('%Y/%m/%d') %>
        </div>
        <div class="text-right m-2 w-75 mx-auto">
          <% if @post.user == current_user %>
            <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-success" %> |
            <%= link_to "削除する", post_path(@post.id), method: :delete, class: "btn btn-primary", "data-confirm" => "本当に削除しますか？" %>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
    
  <div class="row w-75 mx-auto ml-4">
    <div class="coment_count">
      <%= render "public/comments/comment_count", post: @post %>
    </div>
  </div>
    
  <div class="row w-75 mx-auto mt-1 ml-2">
    <div class="comments-area">
      <%= render "public/comments/comment",post: @post %>
    </div>
  </div>
  
  <div class="mx-auto w-75 error_comment">
      <%= render "public/posts/error", post: @comment %>
  </div>
    
  <div class="w-75 mx-auto m-3">
    <%= form_with(model: [@post, @comment], local: false) do |f| %>
      <%= f.text_area :comment, style: "max-width: 600px; width: 100%; height: 80px;", placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>

