<div class="containar w-75 mx-auto">
  <div class="row">
    <div class="col h3 text-center mt-5">
      <%= params[:word] %>"の検索結果
    </div>
  </div>
  <div class="row mt-3">
    <% if @range == "User" %>
      <table class="table table-hover table-inverse mx-auto test-box col-12">
        <thead class="h5">
          <tr>
            <th></th>
            <th>名前</th>
            <th>投稿数</th>
          </tr>
        </thead>
        <tbody class="bg-light h5">
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(60,60), class:"post-user-image" %></td>
              <td><%= link_to user.name, user_path(user.id) %></td>
              <td><%= user.posts.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <% @posts.each do |post| %>
        <div class="col-md-4">
          <div class="card shadow mb-3">
            <div class="card-img-top text-center mt-3">
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.image, size: "180x190" %>
              <% end %>
            </div>
            <div class="card-body text-center">
              <div class="card-top">
                ♥<%= post.likes.count %>
                &emsp;コメント数:<%= post.comments.count %>
              </div>
              <h5 class="card-title mt-2">
                <%= link_to post_path(post.id) do %>
                  <strong class="text-dark"><%= post.title.truncate(10) %></strong>
                <% end %>
              </h5>
              <p class="card-text">
                <%= link_to post_path(post.id) do %>
                  <strong class="text-dark"><%= post.body.truncate(10) %></strong>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row mx-auto text-center m-3">
    <% if @range == "User" %>
      <div class="col">
        <%= paginate @users %>
      </div>
    <% else %>
      <div class="col">
        <%= paginate @posts %>
      </div>
    <% end %>
  </div>
</div>