<div class="containar">
  <div class="row">
    <div class="col h3 text-center mt-5">
      <%= params[:word] %>"の検索結果
    </div>
  </div>
  <div class="row mt-3">
    <% if @range == "User" %>
      <table class='table table-hover table-inverse mx-auto test-box col-12'>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(60,60), class:"post-user-image" %></td>
              <td><%= link_to user.name, user_path(user.id) %></td>
              <td>投稿:<%= user.posts.count %></td>
            </tr>
          <% end %>
        </tbody>
        <tbody>
          <tr>
            <td>
              <%= paginate @users %>
            </td>
          </tr>
        </tbody>
      </table>
    <% else %>
      <% @posts.each do |post| %>
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top text-center">
              <%= image_tag post.image, size: "348x300" %>
            </div>
            <div class="card-body text-center">
              <div class="card-top">
                ♥<%= post.likes.count %>
                コメント数:<%= post.comments.count %>
              </div>
              <h5 class="card-title font-weight-bold">
                <%= post.title %>
              </h5>
              <p class="card-text">
                <%= post.body %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @posts %>
    <% end %> 
  </div>
</div>