<div class="container">
  <div class="h2 text-center">ユーザー投稿一覧</div>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-3">
        <div class="card">
          <div class="card-img-top text-center">
            <%= link_to admin_post_path(post.id) do %>
              <%= image_tag post.image, size: "230x200" %>
            <% end %>  
          </div>
          <div class="card-body text-center">
            <div class="card-image text-left">
               <%= image_tag post.user.get_profile_image(50,50), class:"rounded-circle" %>
               <%= post.user.name %>
            </div>
            <div class="card-top">
              ♥<%= post.likes.count %>
              コメント数:<%= post.comments.count %>
            </div>
            <h5 class="card-title font-weight-bold">
              <%= post.title %>
            </h5>
            <p class="card-text">
              <%= post.body %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
