<div class="container">
  <div class="row">
    <div class="col text-center h2 mt-5">
      <strong>ユーザー投稿一覧</strong>
    </div>
  </div>
  <div class="row mb-3">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card-img-top shadow mt-3 mb-2">
          
          <div class="card-top text-center pt-3">
            <%= link_to admin_user_path(post.user_id) do %>
              <%= image_tag post.user.get_profile_image(60, 60), class:"post-user-image" %>
            <% end %>
            <%= link_to admin_user_path(post.user.id) do %>
               <strong class="text-dark ml-3"><%= post.user.name %></strong>
            <% end %>
          </div>
          <%= render "post", post: post %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row mx-auto text-center">
    <div class="col">
      <%= paginate @posts %>
    </div>
  </div>
</div>
