<div class="container">
  <div class="row">
    <div class="col text-center mt-5">
      <h3>通報一覧</h3>
    </div>
  </div>  
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>通報ID</th>
            <th>会員名</th>
            <th>通報者</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @reports.each do |report| %>
            <tr>
              <td>
                <%= link_to report.id, admin_report_path(report) %>
              </td>
              <td>
                <%= report.reported.name %>
              </td>
              <td>
                <%= report.reporter.name %>
              </td>
              <td>
                <%= report.status_i18n %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mx-auto text-center">
    <div class="col">
      <%= paginate @reports %>
    </div>
  </div>
</div>