<div class="container">
  <div class="row">
    <div class="col text-center mt-5">
      <h3>会員情報編集</h3>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col w-75">
      <table class='table table-hover table-inverse mx-auto test-box col-12'>
        <thead class="h4">
          <tr>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>登録日</th>
          </tr>
        </thead>
        <tbody class="h4">
          <%= form_with model:@user, url: admin_user_path(@user), method: :patch do |f| %>
          <tr>
            <td><%= @user.name %></td>
            <td><%= @user.email %></td>
            <td><%= @user.created_at.strftime('%Y/%m/%d') %></td>
          </tr>  
        </tbody>
      </table>
      <div class="text-center h4 mt-5">
        <%= f.label :user_status, '会員ステータス' %>
        <%= f.radio_button :user_status, false %> <%= f.label :有効 %>
        <%= f.radio_button :user_status, true %> <%= f.label :利用停止 %>
        <%= f.submit "ステータスを更新" %>
        <% end %>
      </div>    
    </div>
  </div>
 
