<div class="container">
  <div class="row mt-5">
    <div class="col-4 text-right">
      <%= image_tag @user.get_profile_image(200,200), class:"user-image" %>
    </div>
    <div class="col-8 text-center">
      <div class="h4 font-weight-bold">
        <%= @user.name %>
      </div>
      <div class="mt-3">
        <%= @user.introduction %>
      </div>
      <div class="mt-3">
        <% if @user.is_deleted == false %>
          <%= link_to "利用停止にする", admin_user_unsubscribe_path(@user), class: "btn btn-danger" %>
        <% else %>
          <p class="btn btn-danger">利用停止済みです。</p>
        <% end %>  
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-4 h4 text-right font-weight-bold">
      <p>投稿数</p>
      <p class="mr-4"><%= @user.posts.count %></p>
    </div>
    <div class="col-4 h4 text-center font-weight-bold">
      <p>フォロー</p>
      <p><%= @user.followings.count %></p>
    </div>
    <div class="col-4 h4 text-left font-weight-bold">
      <p>フォローワー</p>
      <p class="ml-5"><%= @user.followers.count %></p>
    </div>
  </div>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-2 mt-3 ">
        <div class="card shadow">
          <%= render "admin/homes/post", post: post %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col text-cennter">
      <%= paginate @posts %>
    </div>
  </div>
</div>
