<div class="container">
  <div class="row mt-5">
    <div class="col-4 text-right">
      <%= image_tag @user.get_profile_image(200,200), class:"user-image" %>
    </div>
    <div class="col-8 text-center">
      <table>
        <tbody>
          <tr>
            <th></th>
            <td class="h4 font-weight-bold"><%= @user.name %></td>
          </tr>
          <tr>
            <th></th>
            <td><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 h4 text-right font-weight-bold">
      <p>投稿数</p>
      <p><%= @user.posts.count %></p>
    </div>
    <div class="col-4 h4 text-center font-weight-bold">
      <p>フォロー数</p>
      <p><%= @user.followings.count %></p>
    </div>
    <div class="col-4 h4 text-left font-weight-bold">
      <p>フォローワー数</p>
      <p><%= @user.followers.count %></p>
    </div>
  </div>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-img-top text-center">
            <%= link_to admin_post_path(post.id) do %>
              <%= image_tag post.image, size:("300x250") %>
            <% end %> 
          </div>
          <div class="card-body text-center">
            <div class="card-top">
              ♥<%= post.likes.count %>
              コメント数:<%= post.comments.count %>
            </div>
            <h5 class="card-title font-weight-bold">
              <%= post.title %>
            </h5>
            <p class="card-text">
              <%= post.body %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
