<div class="container">
  <div Class="mx-auto mt-5 mb-5">
    <div class="row">
      <div class="col">
        <h2 class="text-center">プロフィール編集</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <div class="col">
        <% if @user.errors.any? %>
          <%= @user.errors.count %>件のエラーが発生しました
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <%= form_with model: @user, url: user_path, method: :patch do |f| %>
          <table>
            <tbody>
              <tr>
                <th><%= f.label :プロフィール画像 %></th>
                <td><%= f.file_field :profile_image, accept: "image/*" %></td>
              </tr>
              <tr>
                <th><%= f.label :名前 %></th>
                <td><%= f.text_field :name, size: "30"%></td>
              </tr>
              <tr>
                <th><%= f.label :自己紹介%></th>
                <td><%= f.text_area :introduction, size: "60x5"%></td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="mx-auto">
              <div class="col">
                <%= f.submit "編集完了", class: "btn btn-success" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>