<div class="container">
  <div class="row mt-5">
    <h2 class="col-12 text-center font-weight-bold">
      いいね一覧ページ
    </h2>
  </div>
  <div class="row mt-5">
    <% @like_posts.each do |like_post| %>
      <div class="col-md-4">
        <div class="card shadow mt-3 mb-5">
          <div class="card-img-top text-center mt-3">
            <%= link_to image_tag(like_post.image,size: "180x190"), post_path(like_post.id) %>
          </div>
          <div class="card-body text-center">
            <div class="card-top">
              ♥<%= like_post.likes.count %>&emsp;&emsp;
              コメント数:<%= like_post.comments.count %>
            </div>
            <h5 class="mt-3">
              <%= link_to post_path(like_post.id) do %>
                <strong class="text-dark"><%= like_post.title %></strong>
              <% end %>
            </h5>
            <h5 class="mt-3">
              <%= link_to post_path(like_post.id) do %>
                <strong class="text-dark"><%= like_post.body.truncate(10) %></strong>
              <% end %>
            </h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col text-center mt-3 mb-3">
      <%= paginate @like_posts %>
    </div>
  </div>
</div>