   <nav class="navbar navbar-expand navbar-dark navbar-fixed-top" style="background-color:orange;">
    <ul class="navbar-nav navbar-dark ml-auto">  
    <% if admin_signed_in? %>
      <li>
        <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light" do %>
          <i class="fas fa-sign-out-alt"></i> ログアウト
        <% end %>
      </li>
      <li>
        <%= link_to admin_users_path, class: "nav-link text-light" do %>
          <i class="fas fa-users"></i> ユーザー一覧
        <% end %>
      </li>
      <li>
        <%= link_to admin_root_path, class: "nav-link text-light" do %>
          <i class="far fa-list-alt"></i> 投稿一覧
        <% end %>
      </li>
      <li>
        <% if @unchecked_reports.present? %>
          <i class="fas fa-circle n-circle fa-stack", class: "nav-link text-light" style="color: #black; font-size: 0.7em;"></i>
        <% end %>
      </li>
      <li>
        <%= link_to admin_reports_path, class: "nav-link text-light" do %>
          <i class="fas fa-bell"></i> 通報一覧
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to new_admin_session_path, class: "nav-link text-light" do %>
          <i class="fas fa-sign-in-alt"></i> ログイン
        <% end %>
      </li>
    <% end %>
    </ul>